@()

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
          <div>
              <strong>Ethos / Guiding Life Principles</strong><br /><br />
              <ul>
                <li>What is the ethos and guiding principles of the organization?</li>
                <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
              </ul>
          </div>
      </div>
    </article>
    <article>
      <div class="flex-container">
        <div><img src="assets/images/purpose.png" /></div>
        <div><strong>Aligned Shared Purpose</strong>
        <br /><br />
          <ul>
            <li>High Reliability Access / Insight</li>
              <li>Process Improvement</li>
          </ul>
        </div>
      </div>
    </article>
    <article>
      <div class="flex-container">
        <div><img src="assets/images/governance.png" /></div>
        <div><strong>Governance</strong><br /><br />
        <ul>
          <li>xxx</li>
          <li>xxx</li>
        </ul>
      </div>
    </article>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article20>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article20>
    <article50>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article50>
    <article50>
      <div class="flex-container">
        <div><img src="assets/images/earth.png" /></div>
        <div>
          <strong>Ethos / Guiding Life Principles</strong><br /><br />
          <ul>
            <li>What is the ethos and guiding principles of the organization?</li>
            <li>How does the organization ethos and guiding principles translate for the collective of teams? (E.g. focus may be Teamwork)</li>
          </ul>
        </div>
      </div>
    </article50>
     <!--
    <aside>
      @commonSidebar()
    </aside>
    -->
  </div>
</section>

}
}